<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Off"
	  internalLogFile="C:\Applications\Application.Batch\src\Presentation\Application.Batch.ConsoleApp\InnerLog.txt">
	<extensions>
		<add assembly="Nlog.WindowsEventLog" />
	</extensions>
	<variable name="sourceName" value="Application.Batch" />
	<targets>
		<target xsi:type="EventLog"
				name="eventlog"
				source="${sourceName}"
				layout="${message}${newline}${exception:format=ToString}"
				Log="Application Batch"
				machinename="." />
	</targets>
	<rules>
		<logger name="*" writeTo="eventlog" minlevel="Information" />
	</rules>
</nlog>